/* 在 Events.css 中修改 */
body .home6 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  background: url('/images/Artisantemp/background.jpg') center no-repeat !important;
  background-size: cover !important;

}

.home6 .widget-area-edit {
  border: 0 !important;
}

.home6 .tab-cont {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .3s, opacity .3s, right .8s;
  -moz-transition: visibility .3s, opacity .3s, right .8s;
  transition: visibility .3s, opacity .3s, right .8s;
}

.home6.fp-completely .tab-cont {
  right: 50%;
  visibility: visible;
  opacity: 1;
}

.home6 .tab-item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: center no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .3s, opacity .3s;
  -moz-transition: visibility .3s, opacity .3s;
  transition: visibility .3s, opacity .3s;
}

.home6 .tab-item.act {
  opacity: 1;
  visibility: visible;
}

.home6 .title {
  position: absolute;
  top: 40%; 
  bottom: 0;
  left: 13%;
}

.home6 .title-txt {
  position: relative;
  padding: 45px 2px;
  width: 1em;
  font-size: 30px;
  line-height: 1;
}

.home6 .title-txt:before,
.home6 .title-txt:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 34px;
  height: 24px;
  background: url('/images/Artisantemp/png11.png') no-repeat;
}

.home6 .title-txt:before {
  top: 0;
  background-position: left;
}

.home6 .title-txt:after {
  bottom: 0;
  background-position: right;
}

.home6 .tab-bar {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  color: #333;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .3s, opacity .3s;
  -moz-transition: visibility .3s, opacity .3s;
  transition: visibility .3s, opacity .3s;
}

.home6.fp-completely .tab-bar {
  visibility: visible;
  opacity: 1;
}

.home6 .tab-track {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 26%;
  width: 70%;
}

.home6 .tab-term {
  position: relative;
  display: inline-block;
  width: 38px;
  padding: 0px 3px; /* 增加垂直方向的间隔 */
  height: 100%;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.home6 .tab-term a {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
 
}

.home6 .tab-term:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  border-left: 1px solid #ccc;
}

.home6 .tab-term .h16 {
  position: relative;
  padding: 25px 5px 30px;
  background: url('/images/Artisantemp/png14.png');
  font-family: "FangSong",serif;
  font-size: 16px;
  line-height: 1.375;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 修改链接颜色 */
.home6 .tab-term .h16 a {
  color: #0c0505; 
  font-size: 17px;
  text-decoration: none; /* 移除下划线 */
  transition: color 0.3s; /* 可选：添加颜色过渡效果 */
}

.home6 .tab-term .h16:before,
.home6 .tab-term .h16:after {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 12px;
  left: 8px; /* Adjusted from 0px to 10px */
  background: url('/images/Artisantemp/png12.png') no-repeat;
}

.home6 .tab-term .h16:before {
  top: 0;
  background-position: left top;
}

.home6 .tab-term .h16:after {
  bottom: 0;
  background-position: right top;
}

.home6 .tab-term.t1 .h16 {
  top: 50%;
}

.home6 .tab-term.t2 .h16 {
  top: 32%;
}

.home6 .tab-term.t3 .h16 {
  top: 42%;
}

.home6 .tab-term.t4 .h16 {
  top: 28%;
}

.home6 .tab-term.t5 .h16 {
  top: 53%;
}

.home6 .tab-term.t6 .h16 {
  top: 40%;
}

.home6 .tab-term.cur,
.home6 .tab-term:hover {
  color: #9a2929;
}

.home6 .tab-term.cur:before,
.home6 .tab-term:hover:before {
  border-color: #9a2929;
}

.home6 .tab-term.cur .h16:before,
.home6 .tab-term:hover .h16:before {
  background-position: left bottom;
}

.home6 .tab-term.cur .h16:after,
.home6 .tab-term:hover .h16:after {
  background-position: right bottom;
}



.home6 .link {
  position: relative;
  padding: 35px 4px;
  width: 1em;
  background: url('/images/Artisantemp/png14.png');
  border: 1px solid red;
  font-family: "微软雅黑";
  font-size: 16px;
  line-height: 1;
}

.home6 .link:before,
.home6 .link:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('/images/Artisantemp/png13.png') no-repeat;
}

.home6 .link:before {
  left: 0;
  top: 0;
  background-position: left;
}

.home6 .link:after {
  right: 0;
  bottom: 0;
  background-position: right;
}