@font-face {
  font-family: 'HuaSiFont';
  src: url('/fonts/禹卫书法行书简体.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 避免文字闪烁 */
}

@font-face {
  font-family: 'FangSong';
  src: url('/fonts/AaGuDianKeBenSong-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 避免文字闪烁 */
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* 设置页面基本字体、背景 */
body {
  margin: 0;
  font-family: 'KaiTi', serif;  /* 使用楷体或者其他合适的中文字体 */
  background-color:transparent  !important;  
  color: #4B2F22;  /* 深咖色字体 */
}
/* 轮播图的点 */
.slick-dots li button:before {
  color: #F4A261;  /* 边框颜色与标题保持一致 */
}

/* 使标题文字更加古典 */
h1, h2, h3 {
  font-family: 'FangSong', serif;
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


